@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
	font-family: "Overpass", sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
/* .fixed-nav {
	posi
	
} */
.navbar {
	top: 0;
	position: fixed;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	width: 83%;
	background-color: white;
	border-bottom: 1px solid #00102d4e;
}
.container {
	margin-left: 17%;
	width: 83%;
}
.page-title {
	display: flex;
	align-items: center;
	gap: 40px;
}
.create-btn {
	width: 191px;
	height: 45px;
	color: #ffff;
	background: #f1aa83;
	border-radius: 8px;
	border-color: #f1aa83;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 14px;
	text-align: center;
}
.user-ctn {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-right: 30px;
}

/* nav ul {
	display: inline-block;
	list-style: none;
	margin-right: 0px;
	overflow: hidden;

	position: relative;
	text-align: right;
} */

p {
	display: inline-block;
	text-decoration: none;
	color: #555;
	cursor: pointer;
}
/*----------------------Total div---------------------------------*/

.inner-ctn {
	padding: 0 40px;
	margin-top: 120px;
}
.textdiv {
	border-right: 1px solid#E2E2EA;
	text-align: center;
	width: 237.5px;
}
.small-rec {
	text-align: center;
}
.textdiv p {
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.72px;
}
.textdiv h2 {
	color: white;
	font-size: 24px;
	font-weight: 600;
}
.text-flex {
	display: flex;
	align-items: center;
	width: 60%;
	height: 107px;
	background: #00102d;
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 0px 4px 16px rgba(189, 205, 236, 0.6);
}
/*---------------------------second-rec------------------------------------*/

.second-rec {
	width: 1092px;
	height: 176px;
	background-color: white;
	background: #ffffff;
	border: 1px solid #e1edfe;
	border-radius: 8px;
	margin-top: 40px;
	margin-bottom: 50px;
	align-items: center;
}
form {
	padding-top: 25px;
}
.text-wrapper {
	display: flex;
	margin: 20px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 15px;
}
.text-wrapper p {
	margin-right: 200px;
}
.input-div {
	display: flex;
	margin-left: 20px;
	width: 100%;
	align-items: center;
}
.search-div {
	width: 384px;
	height: 46px;
	display: flex;
	border: 1px solid #e1edfe;
	border-radius: 8px;
	align-items: center;
}
.search {
	width: 384px;
	height: 46px;
	border: 1px solid #e1edfe;
	border-radius: 8px;
	padding-left: 20px;
	border: none;
}
.search-img {
	padding-left: 10px;
}
.date {
	width: 167px;
	height: 46px;
	margin-left: 10px;
	border: 1px solid #e1edfe;
	border-radius: 8px;
	padding-left: 10px;
}
.refine-search {
	width: 162.42px;
	height: 45px;
	margin-left: 10px;
	background-color: #f1aa83;
	color: white;
	border-color: rgb(238, 88, 33);
	cursor: pointer;
	border: 1px solid #e1edfe;
	border-radius: 8px;
}
.clear {
	color: rgb(238, 88, 33);
	margin-left: 10px;
	cursor: pointer;
	font-weight: 500;
	font-size: 13px;
}
/*-------------------------big rec---------------------------------*/
.big-rec {
	width: 1092p;
	height: 402px;
	border-radius: 8px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	height: 64px;
}
th {
	text-align: left;
	padding: 8px;
	background: #f5f8ff;
	font-family: "Overpass";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin: 50px;
}
td {
	text-align: left;
	padding: 8px;
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20.26px;
	align-items: center;
	margin: 50px;
	color: #75759e;
}
.active {
	color: #4cd964;
}
.completed {
	color: #ff3b30;
}
.arrow {
	border-radius: 50%;
	border-color: #555;
}
/*-----------------------------side-nav---------------------*/
.logo-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	height: 80px;
}

.logo-name {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 20px;
}
.side-nav {
	position: fixed;
	width: 17%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background: #00102d;
}

.menu-title {
	font-family: "Rubik", sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 20px;
	color: #476da5;
	padding-left: 30px;
}

.menu-items {
	font-weight: 300;
	list-style: none;
	padding: 15px 0;
	padding-left: 30px;
	color: #fff;
}

.menu-items:hover {
	color: #f1aa83;
	cursor: pointer;
	background-color: #f1aa8323;
	border-left: 4px solid #f1aa83;
}
.sid-rec {
	width: 100%;
	height: 42px;
}
.side-nav h1 {
	color: white;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	text-align: center;
	align-items: center;
}
/*--------------------------page-ctn-----------------------------------*/

.page-ctn {
	align-items: center;
	display: flex;
	margin-left: 73%;
	margin-top: 34px;
	margin-bottom: 30px;
}
.box {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background: #ffffff;
	border: 1px solid #00102d;
	box-sizing: border-box;
	margin-left: 5px;
	text-align: center;
}
.box p {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	padding-top: 8px;
}
.box-img {
	padding-top: 8px;
}
