@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
	font-family: "Overpass", sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
/* .fixed-nav {
	posi
	
} */
.navbar {
	top: 0;
	position: fixed;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	width: 83%;
	background-color: white;
	border-bottom: 1px solid #00102d4e;
}
.container {
	margin-left: 17%;
	width: 83%;
}

.user-ctn {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-right: 30px;
}
.menu-icon {
	width: 24px;
	display: none;
}

/* nav ul {
	display: inline-block;
	list-style: none;
	margin-right: 0px;
	overflow: hidden;

	position: relative;
	text-align: right;
} */

p {
	display: inline-block;
	text-decoration: none;
	color: #555;
	cursor: pointer;
}
/*----------------------Total div---------------------------------*/

.inner-ctn {
	padding: 0 40px;
	margin-top: 120px;
}

/*---------------------------second-rec------------------------------------*/

.second-rec {
	width: 90%;
	height: fit-content;
	margin: auto;
	background-color: white;
	background: #ffffff;
	border: 1px solid #e1edfe;
	border-radius: 8px;
	margin-top: 40px;
	margin-bottom: 50px;
	align-items: center;
	padding: 30px;
}
.arrow-div {
	align-items: center;
	display: flex;
	gap: 10px;
	margin-bottom: 48px;
}
.arrow-div p {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #75759e;
}
.user-info {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	color: #f1aa83;
}
hr {
	border: none;
	border-bottom: 0.5px solid #e7e7e7;
	margin-bottom: 30px;
}
table {
	width: 100%;
	margin-bottom: 30px;
}
tr {
	height: 30px;
}
th {
	text-align: left;
	width: 25%;
	font-family: "Overpass";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
}
td {
	text-align: left;
	width: 25%;
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #75759e;
}
.recent {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	color: #f1aa83;
}
.status-div {
	margin-top: 40px;
	display: grid;
}
.status {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #00102d;
	margin-bottom: 10px;
}
.completed {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ff3b30;
	margin-bottom: 40px;
}
.transaction {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #f1aa83;
	margin-bottom: 20px;
}
.section-div {
	margin-left: 30px;
}
/*-----------------------------side-nav---------------------*/
.logo-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	height: 80px;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.logo-name {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 20px;
}
.side-nav {
	position: fixed;
	width: 17%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background: #00102d;
}

.menu-title {
	font-family: "Rubik", sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 20px;
	color: #476da5;
	padding-left: 30px;
}

.menu-items {
	font-weight: 300;
	list-style: none;
	padding: 15px 0;
	padding-left: 30px;
	color: #fff;
}

.menu-items:hover {
	color: #f1aa83;
	cursor: pointer;
	background-color: #f1aa8323;
	border-left: 4px solid #f1aa83;
}
.sid-rec {
	width: 100%;
	height: 42px;
}
.side-nav h1 {
	color: white;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	text-align: center;
	align-items: center;
}
/*--------------------------page-ctn-----------------------------------*/

.page-ctn {
	align-items: center;
	display: flex;
	margin-left: 73%;
	margin-top: 34px;
	margin-bottom: 30px;
}
.box {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background: #ffffff;
	border: 1px solid #00102d;
	box-sizing: border-box;
	margin-left: 5px;
	text-align: center;
}
.box p {
	font-family: "Overpass";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	padding-top: 8px;
}
.box-img {
	padding-top: 8px;
}
/*------------------------menu icons -----------------------*/
.sidebar-bg {
	width: 100%;
	height: 100vh;
	z-index: 150;
	background-color: #00000065;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.sidenav {
	height: 100vh;
	width: 25%;
	background-color: white;
	padding-top: 20px;
	transition: 0.10s;
	/* z-index: 150; */
	text-align: center;
}
.sidenav-2 {
	background: #00102d;
}
.sidenav-2 li {
	padding: 18px 13px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.171);
	cursor: pointer;
	margin: auto;
	list-style: none;
    color: #ffffff
	
}
.sidenav-2 li a {
	color: #ffffff
}
.sidenav-2 li a:hover {
	color: red;
	padding: 10px;
}
.sec- {
	color: #f1aa83;
	cursor: pointer;
	background-color: #f1aa8323;
	border-left: 4px solid #f1aa83;
}
.closebtn {
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 20px;
	margin-top: 20px;
}
.back-white {
	color: white;
}
/*------------------------media query section -------------------------*/
@media screen and (max-width: 480px) {
	.container {
		width: 100%;
		margin: 0px;
		height: fit-content;
	}
	.menu-icon {
		display: block;
	}
	.page-ctn {
		width: 100%;
		margin-left: 0;

		align-items: flex-end;
	}
	.inner-ctn{
		width: 100%;
		padding: 0%;
	}
	.section-div {
		margin: 0;
	}
	.user-ctn {
		display: none;
	}
	.navbar {
		width: 95%;
		justify-content: space-between;
		margin: 0px;
		display: flex;
		gap: 150px;
		align-items: center;
		z-index: 20;
	}
	.side-nav {
		display: none;
	}
	.second-rec {
		width: 100%;
	}
	.transaction-div {
		width: 100%;
	}
	table {
		width: 100%;
	}
		.menu-icon {
		display: block;
	}
}
